<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <!-- Constants for alternate algorithm -->
    <add key="M" value="1" />
    <add key="K" value="80000" />
    <add key="k" value="0.3" />
    <add key="p" value="0.2" />
    <!-- API keys for authorization -->
    <add key="MapQuestKey" value="8Oowq9tE4hJGgiMMRKG2APyIddcJj6jM"/>
    <add key="OpenRouteServiceKey" value="5b3ce3597851110001cf624815034960d1524c1095953c44be5b0ab5"/>
	<add key="ArcGisKey" value="cc6bGgSA_bWfQU6zpNfYMwb9PB9gxQ9E_Y7FtjBUAekkOiXYQYQjynzTnMz3KAGLHVtkRJOLuwk4abAf-oX4UOcqDXT2X-EjwVkiwTc-XiHyF79uG-JMTPAONTQ9V4yOrcETMaRlej5RseqnrwITNg.."/>
</appSettings>
</configuration>
